# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[{Makefile,**.defs}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab

[*.go]
indent_style = tab
